<h1>New Location</h1>
<p>
Give us your address or aproximate location(<em>Im at the corner of...</em>),
and well let you know if theres a bus in the vicinity!
</p>
<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
